
@{
    ViewBag.Title = "ForgotPassword";
}


<form action="" method="post">
    <div class="container">
        <h1>Forgot Password</h1>

        <hr>

        <label for="email"><b>Email</b></label>
        <br />
        <input type="text" placeholder="Enter Email" name="Email" required>
        <br />
        <br />
        <label for="secret"><b>Secret</b></label>
        <br />
        <input type="text" placeholder="Enter Secret" name="Secret" required>
        <br />
        <br />



        <div class="clearfix">
            <button  type="submit" class="signupbtn">Sign In</button>
        </div>

    </div>

</form>
<br />
<br />
<p>Back to <a href="/Home/Index">Sign Up</a> or <a href="/Home/SignIn">Sign In</a>.</p>
    @if (ViewBag.password == "WrongSecret")
    {
        <h1 style="color:red">Please Enter A valid Secret</h1>
    }
    else if (ViewBag.password == "NotUser")
    {
        <h1 style="color:red">No user found. Please <a style="color:dodgerblue" href="/Home/Index">Sign Up</a></h1>
    }
    else if (ViewBag.password != null)
    {
        <h1> your password is " @ViewBag.password "</h1>
        <h5>Click here for <a style="color:dodgerblue" href="/Home/SigIn">Sign in</a></h5>
    }
